@charset "utf-8";
body{
    min-width: 320px;
}
.inner{
    width: calc(100% - 40px);
}
header{
    height: auto;
}
header nav{
    width: 100%;
    min-width: 320px;
    height: 60px;
    display: flex;
    border-bottom: unset;
    background: #0f1d35;
    z-index: 99;
}
header nav .global{
    order: 4;
    width: 38px;
    margin: 0;
    color: #ffffff;
    position: relative;
}
header nav .global .home{
    display: none;
}
header nav .global .mnav{
    display: block;
    font-size: 1.4rem;
    position: absolute;
    content: "";
    top: -9px;
}
header nav .global select{
    display: none;
}
header nav .mclose{
    order: 3;
}
header nav .menu{
    order: 2;
    position: fixed;
    top: 60px;
    right: 0;
    width: 100%;
    height: 82vh;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background: #ffffff;
    transform: translateX(100%);
    transition: all 0.5s;
}
header nav .menu.on{
    transform: translateX(0%);
    transition: all 0.5s;
}
header nav .menu::after{
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    width: 170px;
    height: 82vh;
    background: #0f1d35;
}
header nav ul.menu .mclose{
    display: block;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background: #0f1d35;
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: -50px;
    right: 10px;
    font-size: 1.5rem;
}
header nav ul.menu > li:nth-of-type(1),
header nav ul.menu > li:nth-of-type(2),
header nav ul.menu > li:nth-of-type(3),
header nav ul.menu > li:nth-of-type(4),
header nav ul.menu > li:nth-of-type(5),
header nav ul.menu > li:nth-of-type(6){
    width: 170px;
    height: 60px;
    line-height: 60px;
    font-size: 1.1rem;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    z-index: 99;
}
header nav ul.menu > li{
    width: 140px;
    height: 60px;
    line-height: 60px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    z-index: 99;
}
header nav ul.menu > li.on{
    background: rgba(255,255,255,0.2);
}
header nav ul.menu > li .arrow{display: none;}
header nav ul.menu > li .arrow.on{display: block;}
header nav .logo{
    width: 100px;
    height: 94px;
    background: url(../images/project_a/logoMini.png) 0 17px no-repeat;
    order: -1;
    margin: 0 0 0 20px;
}
header nav::after{
    display: none;
}
header nav ul.menu > li.all{
    width: 66%;
    min-width: 360px;
    height: 82vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    overflow: hidden;
    transform: translateX(52%);
}
header nav ul.menu > li.all > .sub_menu{
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
}
header nav ul.menu > li.all > .sub_menu.on{
    transform: translateX(0%);
    transition: transform 0.7s;
}
header nav ul.menu > li.all > .sub_menu li{
    font-size: 1rem;
    height: 50px;
    line-height: 50px;
    text-align: left;
    overflow: hidden;
}
header nav ul.menu > li.all > ul{
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    padding: 20px;
    transform: translateX(100%);
    transition: transform 0.5s;
}
/* header nav ul.menu > li.all > ul:nth-child(2) i.fa{
    display: none;
} */
header nav ul.menu > li.all > ul:nth-child(2){
    height: 78vh;
    /* justify-content: space-between;
    overflow: scroll; */
}
header nav ul.menu > li.all > ul:nth-child(2) li{
    height: auto
}
header nav ul.menu > li.all > ul.sub_menu ul.sub_menu2{
    width: auto;
    display: flex;
    background: unset;
    justify-content: flex-start;
    height: 120px;
    padding: 0;
    height: 0;
}
header nav ul.menu > li.all > ul.sub_menu ul.sub_menu2 > li{
    font-size: 0.9rem;
    height: 30px;
    line-height: 30px;
    text-align: left;
    padding: 0 0 0 5px;
}
/* header nav ul.menu > li.all > .sub_menu li:nth-child(3) ul.sub_menu2{
    height: 90px;
} */
/* nav:hover일때 상단디자인 변경 및 unset*/

header nav:hover::after{
    background: unset;
    transition: unset;
}
header nav:hover .global .fa{
    color: #ffffff;
    position: unset;
}
header nav:hover .logo{
    width: 100px;
    height: 94px;
    position: unset;
    background: url(../images/project_a/logoMini.png) 0 17px no-repeat;
}
header nav:hover ul.menu{
    position: fixed;
}
header nav:hover ul.menu .all{
    width: 70%;
    overflow: hidden;
    transition: unset;
    background: unset;
    box-shadow: unset;
}
header nav ul.menu li::after{
    display: none;
}
header nav ul.menu > li.all > .sub_menu li:hover ul.sub_menu2 {
    height: 130px;
}
header nav ul.menu > li.all > .sub_menu li:nth-child(3):hover ul.sub_menu2{
    height: 100px;
}

main div{
    width: 70%;
    height: 30%;
}
main div h1{
    font-size: 3.5rem;
    line-height: 1;
}
main div h3{
    margin: 20px 0 0 0;
}
section .sec1{
    width: calc(100% - 40px);
    flex-direction: column;
}
section .sec1 .info{
    width: 100%;
    height: auto;
    background: unset;
    border: 1px solid #aaa;
    padding: 20px;
    order: 2;
}
section .sec1 .info p{
    margin: 30px 0;
    font-size: 1rem;
    line-height: 1.8;
}
section .sec1 .img{
    width: 100%;
    height: 300px;
    margin: 0 0 50px 0;
    background: url(../images/project_a/subpage/main.jpg) 50% 60% no-repeat;
    order: 1;
}
section .sec1 .img h4{
    top: -20%;
    left: 3%;
}
section .sec2{
    height: 950px;
    margin: 240px 0;
}
section .sec2::before{
    display: none;
}
section .sec2 h1{
    font-size: 3rem;
    padding: 70px 0 100px 0;
}
section .sec2 .slide{
    width: calc(100% - 40px);
    height: 650px;
}
section .sec2 .slide::after{
    display: none;
}
section .sec2 .slide .bg .slide1,
section .sec2 .slide .bg .slide2,
section .sec2 .slide .bg .slide3,
section .sec2 .slide .bg .slide4,
section .sec2 .slide .bg .slide5,
section .sec2 .slide .bg .slide6,
section .sec2 .slide .bg .slide7{
    flex-direction: column;
    height: auto;
}
section .sec2 .slide .bg span{
    font-size: 1rem;
}
section .sec2 .slide .bg .slide1 .img{
    width: 80%;
    height: 35%;
    margin: 0 auto;
}
section .sec2 .slide .bg .slide1 .text{
    width: 50%;
    line-height: 1.2;
    transform: unset;
    margin: 0 auto;
    text-align: center;
}
section .sec2 .slide .bg .slide1 .text h3{
    padding: 20px 0;
    font-weight: 800;
    font-size: 1.3rem;
}
section .sec2 .slide .bg .slide2 .img{
    width: 80%;
    height: 35%;
    margin: 0 auto;
}
section .sec2 .slide .bg .slide2 .text{
    width: 50%;
    line-height: 1.2;
    transform: unset;
    margin: 0 auto;
    text-align: center;
}
section .sec2 .slide .bg .slide2 .text h3{
    padding: 20px 0;
    font-weight: 800;
    font-size: 1.3rem;
}
section .sec2 .slide .bg .slide3 .img{
    width: 80%;
    height: 35%;
    margin: 0 auto;
}
section .sec2 .slide .bg .slide3 .text{
    width: 51%;
    line-height: 1.2;
    transform: unset;
    margin: 0 auto;
    text-align: center;
}
section .sec2 .slide .bg .slide3 .text h3{
    padding: 20px 0;
    font-weight: 800;
    font-size: 1.3rem;
}
section .sec2 .slide .bg .slide4 .img{
    width: 80%;
    height: 35%;
    margin: 0 auto;
}
section .sec2 .slide .bg .slide4 .text{
    width: 50%;
    line-height: 1.2;
    transform: unset;
    margin: 0 auto;
    text-align: center;
}
section .sec2 .slide .bg .slide4 .text h3{
    padding: 20px 0;
    font-weight: 800;
    font-size: 1.3rem;
}
section .sec2 .slide .bg .slide5 .img{
    width: 80%;
    height: 35%;
    margin: 0 auto;
}
section .sec2 .slide .bg .slide5 .text{
    width: 50%;
    line-height: 1.2;
    transform: unset;
    margin: 0 auto;
    text-align: center;
}
section .sec2 .slide .bg .slide5 .text h3{
    padding: 20px 0;
    font-weight: 800;
    font-size: 1.4rem
}
section .sec2 .slide .bg .slide6 .img{
    width: 80%;
    height: 35%;
    margin: 0 auto;
}
section .sec2 .slide .bg .slide6 .text{
    width: 50%;
    line-height: 1.2;
    transform: unset;
    margin: 0 auto;
    text-align: center;
}
section .sec2 .slide .bg .slide6 .text h3{
    padding: 20px 0;
    font-weight: 800;
    font-size: 1.3rem;
}
section .sec2 .slide .bg .slide7 .img{
    width: 80%;
    height: 35%;
    margin: 0 auto;
}
section .sec2 .slide .bg .slide7 .text{
    width: 50%;
    line-height: 1.2;
    transform: unset;
    margin: 0 auto;
    text-align: center;
}
section .sec2 .slide .bg .slide7 .text h3{
    padding: 20px 0;
    font-weight: 800;
    font-size: 1.3rem
}
/* slide button 변경 */
.swiper-container.new .swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    border: unset;
    margin: 0;
}
.swiper-container.new .swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet:nth-child(1){
    margin: 20px;
    position: relative;
}
.swiper-container.new .swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet:nth-child(1)::after{
    position: absolute;
    content: "1817";
    font-size: 1.1rem;
    font-weight: 600;
    top: -25px;
    left: -15px;
}
.swiper-container.new .swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet:nth-child(2){
    margin: 20px;
    position: relative;
}
.swiper-container.new .swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet:nth-child(2)::after{
    position: absolute;
    content: "1911";
    font-size: 1.1rem;
    font-weight: 600;
    top: -25px;
    left: -15px;
}
.swiper-container.new .swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet:nth-child(3){
    margin: 20px;
    position: relative;
}
.swiper-container.new .swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet:nth-child(3)::after{
    position: absolute;
    content: "1965";
    font-size: 1.1rem;
    font-weight: 600;
    top: -25px;
    left: -15px;
}
.swiper-container.new .swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet:nth-child(4){
    margin: 20px;
    position: relative;
}
.swiper-container.new .swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet:nth-child(4)::after{
    position: absolute;
    content: "1997";
    font-size: 1.1rem;
    font-weight: 600;
    top: -25px;
    left: -15px;
}
.swiper-container.new .swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet:nth-child(5){
    margin: 20px;
    position: relative;
}
.swiper-container.new .swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet:nth-child(5)::after{
    position: absolute;
    content: "2014";
    font-size: 1.1rem;
    font-weight: 600;
    top: -25px;
    left: -15px;
}
.swiper-container.new .swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet:nth-child(6){
    margin: 20px;
    position: relative;
}
.swiper-container.new .swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet:nth-child(6)::after{
    position: absolute;
    content: "2017";
    font-size: 1.1rem;
    font-weight: 600;
    top: -25px;
    left: -15px;
}
.swiper-container.new .swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet:nth-child(7){
    margin: 20px;
    position: relative;
}
.swiper-container.new .swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet:nth-child(7)::after{
    position: absolute;
    content: "2020";
    font-size: 1.1rem;
    font-weight: 600;
    top: -25px;
    left: -15px;
}
.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 5%;
    left: 0;
    width: 100%;
    height: 20%;
    border-top: 1px solid #ccc;
    padding: 30px 0 0 0;
}
section .sec3{
    height: 840px;
}
section .sec3 h1{
    font-size: 3rem;
    padding: 20px;
}
section .sec3 h4{
    width: 80%;
    font-size: 1.1rem;
    margin: 0 auto;
}
section .sec3 div.bar{
    display: none;
}
section .sec3 .slide{
    display: none;
}
section .sec3 .mslide{
    display: block;
    width: calc(100% - 40px);
    min-width: 320px;
    height: auto;
}
section .sec3 .mslide .bg{
    width: 100%;
    margin: 0 auto;
    height: auto;
    min-width: 320px;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    align-items: unset;
}
section .sec3 .mslide .bg .slide1,
section .sec3 .mslide .bg .slide2,
section .sec3 .mslide .bg .slide3,
section .sec3 .mslide .bg .slide4,
section .sec3 .mslide .bg .slide5{
    width: 300px;
    height: 350px;
    background-size: cover;
    flex-shrink: 0;
    margin: 10px;
}
section .sec3 .mslide .bg .slide1 .text{
    width: 88%;
    font-size: 1.3rem;
    margin: 0 auto;
    transform: translate(0, 100%);
}
section .sec3 .mslide .bg .slide1 .text span{
    font-size: 1rem;
    font-weight: 400;
}
section .sec3 .mslide .bg .slide2 .text{
    width: 88%;
    font-size: 1.3rem;
    margin: 0 auto;
    transform: translate(0, 80%);
}
section .sec3 .mslide .bg .slide2 .text span{
    font-size: 1rem;
    font-weight: 400;
}
section .sec3 .mslide .bg .slide3 .text{
    width: 88%;
    font-size: 1.3rem;
    margin: 0 auto;
    transform: translate(0, 100%);
}
section .sec3 .mslide .bg .slide3 .text span{
    font-size: 1rem;
    font-weight: 400;
}
section .sec3 .mslide .bg .slide4 .text{
    width: 88%;
    font-size: 1.3rem;
    margin: 0 auto;
    transform: translate(0, 100%)
}
section .sec3 .mslide .bg .slide4 .text span{
    font-size: 1rem;
    font-weight: 400;
}
section .sec3 .mslide .bg .slide5 .text{
    width: 88%;
    font-size: 1.3rem;
    margin: 0 auto;
    transform: translate(0, 70%);
}
section .sec3 .mslide .bg .slide5 .text span{
    font-size: 1rem;
    font-weight: 400;
}
section .sec3 .mslide .bg .slide1:hover,
section .sec3 .mslide .bg .slide2:hover,
section .sec3 .mslide .bg .slide3:hover,
section .sec3 .mslide .bg .slide4:hover,
section .sec3 .mslide .bg .slide5:hover{
    background-color: rgba(0,0,0,0.7);
    background-blend-mode: multiply;
    background-size: cover;
    transition: all 0.5s;
    opacity: 1;
}

footer{
    margin: 150px 0;
}
footer .inner{
    flex-direction: column;
    align-items: flex-end;
    padding: 20px 0;
}
footer .inner .left{
    width: 100%;
    margin: 40px 0;
}
.scroll{
    transform: translateY(50%);
}
.scroll:link,
.scroll:visited{
    width: 100%;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 10;
}
.scroll:hover{
    transform: translateY(0%);
}

/* ie check */
.ie10 header nav{
    justify-content: space-between;
}
.ie10 header nav,
.ie11 header nav{
    border-bottom: 1px solid #0f1d35;
}
.ie10 header nav .menu::after,
.ie11 header nav .menu::after{
    position: absolute;
    z-index: -1;
}
.ie10 header nav .global .mnav,
.ie11 header nav .global .mnav{
    position: relative;
    top: 0;
}
.ie10 header nav ul,
.ie11 header nav ul{
    width: 100%;
}
.ie10 header nav ul.menu > li:nth-of-type(1),
.ie11 header nav ul.menu > li:nth-of-type(1),
.ie10 header nav ul.menu > li:nth-of-type(2),
.ie11 header nav ul.menu > li:nth-of-type(2),
.ie10 header nav ul.menu > li:nth-of-type(3),
.ie11 header nav ul.menu > li:nth-of-type(3),
.ie10 header nav ul.menu > li:nth-of-type(4),
.ie11 header nav ul.menu > li:nth-of-type(4),
.ie10 header nav ul.menu > li:nth-of-type(5),
.ie11 header nav ul.menu > li:nth-of-type(5),
.ie10 header nav ul.menu > li:nth-of-type(6),
.ie11 header nav ul.menu > li:nth-of-type(6){
    justify-content: space-around;
    z-index: 999;
}
.ie10 section .sec1 .info,
.ie11 section .sec1 .info{
    background: #ffffff;
}
.ie10 section .sec2 .slide .bg .slide1 .text,
.ie11 section .sec2 .slide .bg .slide1 .text,
.ie10 section .sec2 .slide .bg .slide2 .text,
.ie11 section .sec2 .slide .bg .slide2 .text,
.ie10 section .sec2 .slide .bg .slide3 .text,
.ie11 section .sec2 .slide .bg .slide3 .text,
.ie10 section .sec2 .slide .bg .slide4 .text,
.ie11 section .sec2 .slide .bg .slide4 .text,
.ie10 section .sec2 .slide .bg .slide5 .text,
.ie11 section .sec2 .slide .bg .slide5 .text,
.ie10 section .sec2 .slide .bg .slide6 .text,
.ie11 section .sec2 .slide .bg .slide6 .text,
.ie10 section .sec2 .slide .bg .slide7 .text,
.ie11 section .sec2 .slide .bg .slide7 .text{
    transform: translateY(0);
}
.ie10 section .sec3 .mslide .bg .slide1::before,
.ie11 section .sec3 .mslide .bg .slide1::before,
.ie10 section .sec3 .mslide .bg .slide2::before,
.ie11 section .sec3 .mslide .bg .slide2::before,
.ie10 section .sec3 .mslide .bg .slide3::before,
.ie11 section .sec3 .mslide .bg .slide3::before,
.ie10 section .sec3 .mslide .bg .slide4::before,
.ie11 section .sec3 .mslide .bg .slide4::before,
.ie10 section .sec3 .mslide .bg .slide5::before,
.ie11 section .sec3 .mslide .bg .slide5::before{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}
.ie10 section .sec3 .mslide .bg .text,
.ie11 section .sec3 .mslide .bg .text{
    z-index: 9;
}
.ie10 footer .inner .right a:first-child,
.ie11 footer .inner .right a:last-child{
    display: block;
}